---
layout: page
description: "「离开世界之前 一切都是过程」"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
                {{ post.content | strip_html | truncate:300 }}
            {% else %}
                {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

<!-- <script type="text/javascript" src="//rf.revolvermaps.com/0/0/4.js?i=5v4u5lu9o5j&amp;m=0&amp;h=128&amp;c=ff0000&amp;r=0" async="async"></script> -->
<!-- <script type="text/javascript" src="//rf.revolvermaps.com/0/0/2.js?i=5i657syrovt&amp;m=7&amp;s=130&amp;c=ff0000&amp;t=1" async="async"></script> -->

<script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=fKvjkGAq_dcOoOjvaxiyFQJ9OusiujSUnHq6AZgFzdk&cl=ffffff&w=a"></script>
